.logo{
    height: 60px;
}

.icon-click{
    background-color: #FEEE00;
    border-radius: 50%;
    position: absolute;
    right:0 ;
    width: 13px;
    height: 13px;
}

.icon-click-change{
    background-color: #FEEE00;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    width: 13px;
    height: 13px;
    right: 0;
}
.rotate{
    transform: rotate(90deg);
    height: 10px;
    width: 10px;
    cursor: pointer;
}