<section class="mt-2 p-2">
  <div class="row justify-content-center align-items-center p-2 ">
    
      <div class="col-12 p-2">
        <div class="d-flex justify-content-between align-items-center border-bottom py-2">
          <div class="icon-calendar d-flex justify-content-center align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13" fill="none">
              <path d="M9 6.125L6.75 8.375L4.5 6.125" stroke="#363853" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <p class="m-0">مارس 2023</p>
            <img src="assets/Card/Card Rankings/vuesax//outline/calendar-3.svg" alt="">
          </div>
          
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <img class="cursor me-2" src="assets/Card/Card Rankings/vuesax/outline/icon.svg" alt="">
                <img class="rotate " src="assets/Card/Card Rankings/vuesax/outline/icon.svg" alt="">
              </div>
              <div class="ms-2">
                <p class="fw-bold w-100 m-0" dir="rtl">تقويم المواعيد</p>
              </div>
            </div>
          
        </div>
      </div>

      <div class="col-12 p-2">
        <div class="d-flex justify-content-between flex-row-reverse">

          <div class="text-center p-1" dir="rtl">
            <p>
              السبت <br><br>
              <span class="fw-bold">24</span><br>
              <svg xmlns="http://www.w3.org/2000/svg" width="5" height="6" viewBox="0 0 5 6" fill="none">
                <circle cx="2.5" cy="3.125" r="2.25" fill="#FF4B55"/>
              </svg>
            </p>
          </div>
          <div class="text-center mark-day p-1" dir="rtl" >
            <p>
              الاحد<br><br>
              <span class="fw-bold active-day d-flex justify-content-center align-items-center">25</span><br>
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="5" viewBox="0 0 12 5" fill="none">
                <circle cx="2.75" cy="2.375" r="2.25" fill="#292D32" fill-opacity="0.08"/>
                <circle cx="9.5" cy="2.375" r="2.25" fill="#292D32" fill-opacity="0.08"/>
              </svg>
            </p>
          </div>
          <div class="text-center p-1" dir="rtl">
            <p>
              الإثنين <br><br>
              <span class="fw-bold">26</span><br>
              <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none">
                <circle cx="3" cy="3.125" r="2.25" fill="#3DD598"/>
              </svg>
            </p>
          </div>
          <div class="text-center p-1" dir="rtl">
            <p>
              الثلاثاء <br><br>
              <span class="fw-bold">27</span><br>
              <svg xmlns="http://www.w3.org/2000/svg" width="5" height="6" viewBox="0 0 5 6" fill="none">
                <circle cx="2.75" cy="3.125" r="2.25" fill="#FC9A00"/>
              </svg>
              <svg class="svg-calnder" xmlns="http://www.w3.org/2000/svg" width="5" height="6" viewBox="0 0 5 6" fill="none">
                <circle cx="2.5" cy="3.125" r="2.25" fill="#3DD598"/>
              </svg>
            </p>
          </div>
          <div class="text-center p-1" dir="rtl">
            <p>
              الأربعاء <br><br>
              <span class="fw-bold">28</span><br>
              <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none">
                <circle cx="3" cy="3.125" r="2.25" fill="#3DD598"/>
              </svg>
              <svg class="svg-calnder" xmlns="http://www.w3.org/2000/svg" width="5" height="6" viewBox="0 0 5 6" fill="none">
                <circle cx="2.25" cy="3.125" r="2.25" fill="#FC9A00"/>
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none">
                <circle cx="3" cy="3.125" r="2.25" fill="#3DD598"/>
              </svg>
            </p>
          </div>
          <div class="text-center p-1" dir="rtl">
            <p>
              الخميس <br><br>
              <span class="fw-bold">29</span><br>
              <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none">
                <circle cx="3" cy="3.125" r="2.25" fill="#3DD598"/>
              </svg>
            </p>
          </div>
          <div class="text-center p-1" dir="rtl">
            <p >
              الجمعة <br><br>
              <span class="fw-bold">30</span><br>
              <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none">
                <circle cx="3" cy="3.125" r="2.25" fill="#3DD598"/>
              </svg>
            </p>
          </div>

        </div>
      </div>

      <div class="col-12 p-2">
        <div class="rectangle-one p-3" dir="rtl">
            <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى</p>
            <div class="clock ">
              <div class="d-flex align-items-end"><img src="assets/Card/Card Rankings/vuesax/outline/clock.svg" alt=""><p class="mb-0 me-1">04:00 - 05:00 م </p>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center mt-2">
              <div dir="rtl" class="d-flex align-items-center">
                <img src="assets/Avatar/Image-35.png" alt=""> <p class="mb-0 me-1">ميرا محسن</p>
              </div>
              <div class="arrow d-flex justify-content-center align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="19" viewBox="0 0 21 19" fill="none">
                  <path d="M15.625 9.76404L5.125 9.76404M5.125 9.76404L8.56618 12.764M5.125 9.76404L8.56618 6.76404" stroke="#363853" stroke-width="1.125" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </div>
            </div>
        </div>
        <div class="rectangle-two p-3" dir="rtl">
            <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى</p>
            <div class="clock ">
              <div class="d-flex align-items-end"><img src="assets/Card/Card Rankings/vuesax/outline/clock.svg" alt=""><p class="mb-0 me-1">04:00 - 05:00 م </p>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center mt-2">
              <div dir="rtl" class="d-flex align-items-center">
                <img src="assets/Avatar/Image-36.png" alt=""> <p class="mb-0 me-1">ميرا محسن</p>
              </div>
              <div class="arrow d-flex justify-content-center align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="19" viewBox="0 0 21 19" fill="none">
                  <path d="M15.625 9.76404L5.125 9.76404M5.125 9.76404L8.56618 12.764M5.125 9.76404L8.56618 6.76404" stroke="#363853" stroke-width="1.125" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </div>
            </div>
        </div>
        <div class="rectangle-three p-3 text-white" dir="rtl">
            <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى</p>
            <div class="clock ">
              <div class="d-flex align-items-end ">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="16" viewBox="0 0 15 16" fill="none">
                <path d="M7.5 14.8851C3.79375 14.8851 0.78125 11.8726 0.78125 8.16638C0.78125 4.46013 3.79375 1.44763 7.5 1.44763C11.2063 1.44763 14.2188 4.46013 14.2188 8.16638C14.2188 11.8726 11.2063 14.8851 7.5 14.8851ZM7.5 2.38513C4.3125 2.38513 1.71875 4.97888 1.71875 8.16638C1.71875 11.3539 4.3125 13.9476 7.5 13.9476C10.6875 13.9476 13.2813 11.3539 13.2813 8.16638C13.2813 4.97888 10.6875 2.38513 7.5 2.38513Z" fill="white"/>
                <path d="M9.81875 10.6226C9.7375 10.6226 9.65625 10.6039 9.58125 10.5539L7.64375 9.39764C7.1625 9.11014 6.80625 8.47889 6.80625 7.92264V5.36014C6.80625 5.10389 7.01875 4.89139 7.275 4.89139C7.53125 4.89139 7.74375 5.10389 7.74375 5.36014V7.92264C7.74375 8.14764 7.93125 8.47889 8.125 8.59139L10.0625 9.74764C10.2875 9.87889 10.3563 10.1664 10.225 10.3914C10.1313 10.5414 9.975 10.6226 9.81875 10.6226Z" fill="white" fill-opacity="0.6"/>
                </svg>
                <p class="mb-0 me-1 text-white">04:00 - 05:00 م </p>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center mt-2">
              <div dir="rtl" class="d-flex align-items-center">
                <img src="assets/Avatar/Image-37.png" alt=""> <p class="mb-0 me-1"> محمود الغريب</p>
              </div>
              <div class="arrow d-flex justify-content-center align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="19" viewBox="0 0 21 19" fill="none">
                  <path d="M15.625 9.76404L5.125 9.76404M5.125 9.76404L8.56618 12.764M5.125 9.76404L8.56618 6.76404" stroke="#363853" stroke-width="1.125" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </div>
            </div>
        </div>
        <div class="rectangle-four p-3" dir="rtl">
            <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى</p>
            <div class="clock ">
              <div class="d-flex align-items-end"><img src="assets/Card/Card Rankings/vuesax/outline/clock.svg" alt=""><p class="mb-0 me-1">04:00 - 05:00 م </p>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center mt-2">
              <div dir="rtl" class="d-flex align-items-center">
                <img src="assets/Avatar/Image-38.png" alt=""> <p class="mb-0 me-1">كريم عبد العزيز </p>
              </div>
              <div class="arrow d-flex justify-content-center align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="19" viewBox="0 0 21 19" fill="none">
                  <path d="M15.625 9.76404L5.125 9.76404M5.125 9.76404L8.56618 12.764M5.125 9.76404L8.56618 6.76404" stroke="#363853" stroke-width="1.125" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </div>
            </div>
        </div>

      </div>
  
  </div>
  
</section>