
  <section class="background">
      <div >

        <div class="aside position-relative pe-0 col-2">
            <div  [ngClass]="!isReSize ?  ' icon-click d-flex justify-content-center align-items-center d-block ' : ' d-flex justify-content-center align-items-center d-none '"  (click)="sendVaule()">
                <img class="rotate" src="assets/Avatar/Vector.svg" alt="">
            </div>
        </div>
        
        <p class=" main " dir="rtl">الرئيسية</p>
        <ul dir="rtl" class="pe-0" >
            <li class="d-flex ">
                <div class="col-3"><img class="img-icon"  src="assets/vuesax/bold/home.svg" alt=""></div>
                <div class="col-6"><span>الرئيسية</span></div>
            </li>
            <li class="d-flex ">
                <div class="col-3"><img class="img-icon" src="assets/vuesax/bold/home.svg" alt=""></div>
                <div class="col-7"><span>منيو رقم 1</span></div>
                <div class="col-1"><img  src="assets/Avatar/Vector.svg" alt=""></div>
            </li>
            <li class="d-flex flex-wrap ">
                <div class="col-3 active"><img class="img-icon" src="assets/vuesax/bold/home.svg" alt=""></div>
                <div class="col-7"><span>منيو رقم 1</span></div>
                <div class="col-1  "><img class="vectro-rotate" src="assets/Avatar/Vector.svg" alt=""></div>

                <ul dir="rtl" class="d-flex justify-content-between w-100 mt-3">
                    <div class="col-1 ">
                        <img src="assets/Avatar/Group 4531.svg" class="gro" alt="">
                    </div>
                    <div class="col-9">
                        <li class="p-0">منيو ميني</li>
                        <li class="p-0">منيو ميني</li>
                        <li class="p-0">منيو ميني</li>
                    </div>
                </ul>
            </li>
            <li class="d-flex ">
                <div class="col-3"><img class="img-icon" src="assets/vuesax/bold/home.svg" alt=""></div>
                <div class="col-7"><span>منيو رقم 1</span></div>
                <div class="col-1"><img class="vectro-rotate" src="assets/Avatar/Vector.svg" alt=""></div>
            </li>
            <li class="d-flex ">
                <div class="col-3"><img class="img-icon" src="assets/vuesax/bold/home.svg" alt=""></div>
                <div class="col-7"><span>منيو رقم 1</span></div>
                <div class="col-1"><img class="vectro-rotate" src="assets/Avatar/Vector.svg" alt=""></div>
            </li>
        </ul>
        <p dir="rtl">الحساب</p>
        <ul dir="rtl" class="pe-0">
            <li class="d-flex ">
                <div class="col-3"><img class="img-icon"  src="assets/vuesax/bold/info-circle.svg" alt=""></div>
                <div class="col-9"><span>المساعدة</span></div>
            </li>
            <li class="d-flex " >
                <div class="col-3"><img class="img-icon" src="assets/vuesax/bold/setting-2.svg" alt=""></div>
                <div class="col-9"><span>الإعدادات  </span></div>
            </li>
        </ul>
    </div>
  </section>